@font-face {
	font-family: 'Lazzer-Medium';
	src: url('/fonts/Lazzer-Medium.woff2') format('woff2'), url('/fonts/Lazzer-Medium.woff') format('woff'), url('/fonts/Lazzer-Medium.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Lazzer-SemiBold';
	src: url('/fonts/Lazzer-SemiBold.woff2') format('woff2'), url('/fonts/Lazzer-SemiBold.woff') format('woff'), url('/fonts/Lazzer-SemiBold.ttf') format('truetype');
	font-display: swap;
}